
.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(232, 228, 228);
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
}
.text{
    width: 100vw;
    font-size: 1rem;
    margin-top: 20px;
}
.fancy {
    width: 100vw;
    font-size: 2.2rem;
    font-weight: 600;
}
.envelope {
    width: 100wv;
    border-radius: 10px;
    height: 100px;
    background-color: rgba(0, 100, 100, 0.2);
}
.date {
    width: 100vw;
    margin-top: 135px;
}
