* {
  box-sizing: border-box;
  width: 0;
  height: 0;
}
.container {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

